<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand" href="./Downloads/images.png"><img src="https://seeklogo.com/images/A/apple-music-icon-logo-D6F77FCC1C-seeklogo.com.png" width='35' height="30"></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 font-weight-bold">
        <li class="nav-item active">
          <a class="nav-link" style="font-size: 20px;" href="#">🄼🅄🅂🄸🄲<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <!-- <li class="nav-item">
          <%#= link_to 'Cart', carts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%#= link_to 'Orders', orders_path, class: 'nav-link' %>
        </li> -->
        <% if session[:user_id].nil? %>
          <%= link_to 'Sign Up', users_new_path, class: "btn btn-primary btn-sm" %>

          <%= link_to 'Log in', sessions_new_path, class: "btn btn-primary btn-sm" %>
        <% else %>
          <!-- Session id: --> <%#= session[:user_id] %>
          <%= button_to 'Log Out', sessions_destroy_path, method: :delete, class: "btn btn-primary btn-sm" %> 
        <% end %>        
      </ul>
    </div>
  </div>
</nav>